# package management
pip-tools

# core dependencies
elasticsearch
langchain
langchain-community
langchain-elasticsearch
tiktoken
flask
flask-cors
python-dotenv
requests

# OpenAI dependencies
openai
langchain-openai
jinja2
portkey-ai

# Vertex AI dependencies
# google-cloud-aiplatform
grpcio-status

# BedRock dependencies
boto3

# Mistral dependencies
# langchain-mistralai

# Cohere dependencies
# cohere

# TBD if these are still needed
exceptiongroup
importlib-metadata
numexpr
PyJWT
